// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Main Parts */

body {
  background-size: cover;
  font-family: 'Trebuchet MS',Arial,sans-serif;
  color: #181818;
}

#container {
  width: 1000px;
  margin:auto;
}

#titre_principal {
  display: inline-block;
}

header  {
  h1 {
    font-size: 2.5em;
    font-weight: normal;
  }
  h2 {
    font-size: 1.1em;
    margin-top:0px;
    font-weight: normal;
  }
}

#Logo, header h1 {
  display: inline-block;
  margin-bottom: 0px;
}

/* Navigation */

nav {
  display: inline-block;
  width: 740px;
  text-align: right;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
  }

  a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
  }
}

a {
  color:#000000;
}

/* Corps */

.post {
  box-shadow: 0px 0px 10px 5px  grey ;
  width: 300px;
  padding:5px 15px 5px 5px;
  margin-bottom: 20px;

  h2 {
    font-size: 1.2em;
  }

  .posted_at {
    color: dodgerblue;
    font-style: italic;
  }
}


/* creation d'un post */

.new_post {
  form {
    width: 400px;
  }
  .field {
    width: 200px;
    margin-bottom:10px;
  }

  input , textarea {
    padding: 10px;
    font-size: 16px;
    outline:none;
    border:1px solid #CCCCCC;
  }

  input:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #56baa6;
  }
}

.menu_post {
  margin-bottom: 60px;
}


/* Commentaires */



.new_comment {
  display: none;
}

.btn {
  background-color: #008CBA;
  border:none;
  color:white;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 0 0 10px #008CBA;
  color:#999999;
}


/* LOGIN */

.auth_form {
  width: 100%;
}

.login form input.btn:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}

.login form input {
  background-color: rgba(255,255,255,0.5);
  border: none;
  border-bottom: 4px solid #000;
  font-size: 16px;
  margin: 10px 30px 0;
  padding:30px;
  transition: border-bottom 0.5s;
  width: calc(100% - 120px);
}

.login form input:focus {
  border:none;
  border-bottom: 4px solid #ed145b;
  box-shadow: 0 0;
  transition: border-bottom 0.5s;
  outline: none;
}

.login form input.btn {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
  margin: 10px 0 0;
  padding: 0;
  transition: background 0.5s, color 0.5s;
  width: 100%;
}


.login {
  margin: 0 auto;
  width: 400px;
}

.login form input {
  width: 280px;
}

.login form input.form-btn, .signup form input.form-btn {
  margin-left: 30px;
  width: 340px;
  transition: background 0.5s, color 0.5s;
}





