   <header>
     <div id="titre_principal">
       <img src="#" alt="Logo du blog" id="Logo"/>
       <h1>Blog de David Audouze</h1>
       <h2> Un blog haut en couleur</h2>
     </div>

     <nav>
       <ul>
         <li><a href="posts#index">Accueil</a></li>
         <li><a href="#">Contact</a></li>
         <li><a href="#">Sign in</a> </li>
       </ul>
     </nav>
   </header>